.card-detail {
  gap: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  max-width: 700px;
  width: 100%;
  &:focus-visible{
    outline: none;
  }
  & .header{
    display: flex;
    flex-direction: column;
    & .list-name{
      padding-left: 10px;
      font-size: 14px;
      & span{
        text-decoration: underline;
      }
    }
  }
  & .header-title {
    display: flex;
    align-items: center;
    gap: 1em;

    & h2,
    textarea {
      font-size: 20px;
    }
  }

  & .body {
    display: flex;

    & .left {
      flex: 1;
    }
  }

  & .close-icon {
    width: 28px;
    padding: 6px;
    border-radius: 1em;
    cursor: pointer;
    display: flex;
    &:hover {
      background-color: #091e4224;
    }
  }
  & .description {
    padding: 0.5em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    & h2 {
      font-size: 16px;
    }
    & .add-description {
      background-color: #091e420f;
      min-height: 56px;
      padding: 8px 12px;
      font-weight: 500;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
    }
    & .editable-text {
      & h2 {
        font-size: 14px;
        padding: 0;
      }
    }
    & textarea {
      min-height: 56px;
    }
  }
}
