.container {
  border-radius: 6px;
  background-color: #f1f2f4;
  padding: 8px 16px;
  min-width: 272px;
  max-height: 100%;
  width: 272px;
  display: flex;
  flex-direction: column;
  gap: 1em;

  & .header {
    display: flex;
    gap: 8px;
    align-items: flex-start;

    & .delete-icon {
      min-width: 30px;
      height: 30px;
      padding: 5px;
      cursor: pointer;
      color: #172b4d;
      border-radius: 8px;
      &:hover {
        background-color: #091e4224;
      }
      &:active {
        background-color: #091e424f;
      }
    }
  }
}

h2 {
  font-size: 14px;
  margin: 0;
  text-align: left;
  color: #172b4d;
  font-weight: 500;
}

.container .cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 12px;
  overflow-y: auto;
}
