.card {
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 16px;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F
}
.card span {
  text-align: left;
  display: block;
  font-size: 14px;
  color :#172b4d;
}
.card:hover {
  border: 2px solid #d0d0d0;
}
