.card {
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 16px;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  width: 99%;
  margin: 0 auto;
  flex-direction: column;
  gap: 6px;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  & .description-icon {
    width: 12px;
    & svg {
      fill: #172b4d;
    }
  }
}
.card .editable-text h2 {
  text-align: left;
  display: block;
  font-size: 14px;
  color: #172b4d;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-weight: 400;
  padding: 0;
}
.card:hover {
  border: 2px solid #d0d0d0;
}
