.card {
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 16px;
  border: 2px solid transparent;
  cursor: pointer;
}
.card span {
  text-align: left;
  display: block;
  font-size: 14px;
  color :#172b4d;
}
.card:hover {
  border: 2px solid #d0d0d0;
}
