.App {
  text-align: center;
  padding: 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #838c91;
}

.lists {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  flex: 1;
  & .lists-droppable {
    display: flex;
    flex: none;
    overflow: hidden;
    height: 100%;
    align-items: flex-start;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
