.App {
  text-align: center;
  padding: 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #838c91;
}

.lists {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  flex: 1;
}

.lists .lists-droppable {
  flex: none;
  overflow: hidden;
  height: 100%;
  align-items: flex-start;
  display: flex;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(35, 46, 51, 0.1);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

body {
  --sb-track-color: none;
  --sb-thumb-color:  rgba(35, 46, 51, 0.2) !important;
  --sb-size: 20px;
}

.lists{
  padding-bottom: 24px;
}

.card-content{
  padding-right: 8px;
}

.lists::-webkit-scrollbar, .card-content::-webkit-scrollbar {
  width: var(--sb-size);
}

.lists::-webkit-scrollbar-track, .card-content::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.lists::-webkit-scrollbar-thumb, .card-content::-webkit-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
}

@supports not selector(::-webkit-scrollbar) {
  .lists, .card-content {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
